@using BaSyx.Models.Core.AssetAdministrationShell.Generics;
@using CNCMachineAASDashboard.Shared.Models;
@using CNCMachineAASDashboard.Shared.Models.AAS;


<div class="card border-dark mb-3">
    <div class="card-header"><h4>Asset</h4></div>
    <ul class="list-group list-group-flush">

        <IdshortComponent _Idshort="@asset?.idShort"></IdshortComponent>
        <IdentificationComponent _Identification="@asset?.identification"></IdentificationComponent>
        <DescriptionComponent _Description="@asset?.description"></DescriptionComponent>

    </ul>
</div>


@code {
    [Parameter]
    public Asset? asset { get; set; }

}
