@page "/OperationalData";

@using CNCMachineAASDashboard.Shared.Models.AAS;
@using CNCMachineAASDashboard.Client.Services;

@inject ISignalRService SignalRService;

@if(_submodel != null)
{
    <div class="card border-success mb-3">
        <div class="card-header bg-success">
            <h4 class="text-white">
                @_submodel.idShort
                @*<a class="text-white">@Submodel.idShort Dashboard</a>*@
            </h4>
        </div>
        <div>

            <ul class="list-group list-group-flush">
                <IdshortComponent _Idshort="@_submodel?.idShort"></IdshortComponent>
                <IdentificationComponent _Identification="@_submodel?.identification"></IdentificationComponent>
                <DescriptionComponent _Description="@_submodel?.description"></DescriptionComponent>
                <SimanticIdComponent _SemanticId="@_submodel?.semanticId"></SimanticIdComponent>
            </ul>

        </div>
        @if (_submodel?.submodelElements != null)
        {
            <div class="container-fluid">

                @foreach (var se in _submodel.submodelElements)
                {

                    <div class="card-body">

                        <SMEcomponent _se="@se"></SMEcomponent>

                    </div>

                }

            </div>
        }
       
    </div>
}
else
{
    <h1>Sorry! There is nothing at this Page</h1>
    <h1>Check your SignalR status</h1>
}


  


@code {
    
    public Submodel? _submodel;

    private List<object>? temperature { get; set; }



    protected override async Task OnInitializedAsync()

    {
        SignalRService.OnReceivedOperational += HandleMessageReceived;
        await SignalRService.StartConnection();
        
    }
    private void HandleMessageReceived(Submodel data)
    {
       
        _submodel = data;
       
        StateHasChanged();
    }
}
