@if (isVisible == true)
{
    <div class="alert alert-@TypeOfAlert alert-dismissible fade show" role="alert" style="display: block">
        <h1 class="alert-heading" style="display: inline-grid;">
            <strong>@Title</strong>
        </h1>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"
        Style="width: 50px; height: 50px; position:absolute; right:20px; top:10px; bottom:10px; font-size: 30px;text-align:center"
        @onclick="CloseAlert">
            <span aria-hidden="true">&times;</span>
        </button>
        <h2>
            @Text
        </h2>
    </div>
}



@code {
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Text { get; set; }
    [Parameter]
    public AlertType? TypeOfAlert { get; set; }
    public bool isVisible = true;
    public enum AlertType
    {
        warning,
        danger,
        success
    }
    public void CloseAlert()
    {
        isVisible = !isVisible;
    }
}
