

<li class="list-group-item">
    <div class="row align-items-center">
        <div class="col-sm-2"><b>IdShort</b></div>
        <div class="col-sm-10">@_Idshort</div>
    </div>
</li>

@code {
    [Parameter]
    public string? _Idshort { get; set; }
}
