@inherits LayoutComponentBase
@using CNCMachineAASDashboard.Client.Pages.MaintenanceUI
@using CNCMachineAASDashboard.Client.Services;
@using CNCMachineAASDashboard.Shared.Models.AAS;


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" style="padding-top:0px">
            @Body
        </article>
    </main>
</div>

@code{
    
}